
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito+Sans:wght@600&family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito+Sans:ital,wght@1,600&family=Poppins:wght@500&display=swap');


body{
     font-family: 'Nunito Sans';
     font-style: normal;
     font-weight: 600;
     background: #E5E5E5;
     color: #000000;
}
.sidebar{
     height: auto;
     background: linear-gradient(180deg, rgba(101, 144, 255, 0.43) -6.06%, rgba(126, 154, 255, 0.47) 21.33%, rgba(197, 199, 255, 0.3) 50.12%, rgba(187, 176, 255, 0.409659) 75.6%, rgba(219, 202, 255, 0.96) 103.99%);
}
a{
     text-decoration: none;
}
.logo{
     font-weight: 600;
     font-size: 23.8348px;
     line-height: 36px;
     letter-spacing: 0.25px;
     color: #1E2875;
}

.btn-primary{
     background-color: #5630D3;
     border-color: #5630D3;
}
.icon-color{
     color:#5630D3;
}

.jane{
     font-weight: 500;
     font-size: 19px;
     line-height: 26px;
     color: #000000;
}


.day{
     font-weight: 400;
     font-size: 16px;
     line-height: 17px;
     letter-spacing: 0.25px;
     
     color: #272830;
     
}

.daynumber{
     font-size: 26px;
     line-height: 29px;
     letter-spacing: 0.25px;
     
     color: #272830;
}

.leaves{
     font-weight: 500;
     font-size: 14px;
     line-height: 18px;
     letter-spacing: 0.25px;
     color: #333333;
}

.bg{
     background: linear-gradient(91.37deg, rgba(101, 144, 255, 0.43) 13.98%, rgba(126, 154, 255, 0.47) 34.04%, rgba(197, 199, 255, 0.72) 55.12%, rgba(187, 176, 255, 0.409659) 73.79%, rgba(219, 202, 255, 0.96) 94.58%);
}

th{
     font-weight: 500;
     font-size: 14px;
     line-height: 18px;
     letter-spacing: 0.25px;
     color: #333333;
}
td{
     font-weight: 300;
     font-size: 14px;
     line-height: 18px;
     letter-spacing: 0.25px;
     color: #000000;
}

.img-date{
     font-weight: 300;
     font-size: 12px;
     line-height: 15px;
     letter-spacing: 0.25px;
     color: #272830;
     rotate: 180deg;
     writing-mode: vertical-rl;
     text-align: right;

}
.chat-name{
     font-family: 'Nunito Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 27px;
}
.chat-para{
     font-weight: 300;
     font-size: 14px;
     line-height: 18px;
     letter-spacing: 0.25px;

     color: #272830;
}

.like{
     font-weight: 300;
     font-size: 14px;
     line-height: 18px;
     letter-spacing: 0.25px;

     color: #272830;
}

.names{
     font-size: 14px;
     line-height: 18px;
     letter-spacing: 0.25px;
     color: #000000;
}

.position{
     font-weight: 300;
     font-size: 10px;
     line-height: 15px;
     letter-spacing: 0.25px;
     color: #5630D3;
}

.scroll{
     height: 350px;
     overflow: auto;
}

::-webkit-scrollbar {
     background-color: rgb(255, 255, 255);
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   }
::-webkit-scrollbar:vertical {
     width: 4px;
 }
 
 ::-webkit-scrollbar:horizontal {
     height: 4px;
 }
::-webkit-scrollbar-thumb{
     height: 100px;
     background-color: #666565;
}


.date{
     font-weight: 300;
     font-size: 12px;
     line-height: 15px;
     letter-spacing: 0.25px;
     color: #808080;
}

.moreitem1,.moreitem2{
     display: none;
}

.active{
     color: #5630D3;
}




